.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*,*::before, *::after{
  box-sizing: border-box !important;
  font-family: Poppins !important;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/Poppins/Poppins-Black.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("./assets/Poppins/Poppins-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/Poppins/Poppins-Light.ttf");
  font-weight: lighter;
}
 
#root, body, html{
  height: 100%;
  background-color: #002022;
}
  
button{
  background: rgb(110, 196, 167);    
  border: none;
  padding: .8rem;
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
  color: white;
  font-size: large;
  align-items: center;
  display: flex;
  border-radius: 2px;
  align-self: center;
  flex-direction: row;
  cursor: pointer;
  font-family: Poppins;
  box-shadow: rgba(87, 87, 87, 0.2) 1.95px 1.95px 2.6px;}

  .body{
    height: calc(100% - 75px)
}


input[type="text"], input[type="number"], input[type="password"], input[type="email"]{
  width: 100%;
  padding: 8px 0 8px 40px;
  border: 1px solid #ccc;
  border-radius: 2px;
  outline: none;
  font-size: 1rem;
  font-family: Poppins;
}

.label{
  color: rgb(110, 196, 167);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.font{
  font-family: Poppins;
}